 <!-- Footer -->
 <footer class="footer text-center p-4">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            
            <div class="col-md-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4 text-white">Find Me On</h4>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/matt.vardi">
                    <i class="fab fa-fw fa-facebook-f"></i>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/matthewvardi/">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/MatthewVardi">
                    <i class="fab fa-fw fa-github"></i>
                  </a>
                </li>
                <p></p>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyright text-center text-white">
            <div class="container">
                <small>Copyright &copy; Matthew Vardi 2019</small>
            </div>
        </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<!-- Script for navbar to fade-in when scrolling down -->
<!-- <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainnav");
                $nav.toggleClass("p-4", $(this).scrollTop() > $nav.height());
            });
        });
</script> -->
</body>

</html>