/*
For Any Custom CSS
*/


body {
	background: #f6f5f3;
	font-family: 'Open Sans', sans-serif;
}

#header {
	background: url("mountains.jpeg") center center;
	background-size:cover;
	/*filter: grayscale(75%);*/
    /* background: url("stars.jpeg") center center / cover no-repeat; */
}
#shadow {
	text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.8); 
}

#icons {
	font-size: 1.5em;
}


#mainNavbar {
    font-size: 1.3rem;
    font-weight: 100; 
}

#mainNavbar .nav-link {
    color: white;
    font-weight: 300;
    font-size: 0.9em;
    
}

#mainNavbar .nav-link:hover {
    color: #4289f4;
}

/*#mainNavbar .navbar-brand {
    color: white;
    font-size: 1.5rem;
}*/

.navbar.scrolled {
    background: #385A73;
    transition: background 200ms;
    /*opacity:0.8;*/
}

.fa-laptop {
	font-size: 1.5em;
}

